.card {
  border: 1px solid black;
  margin: 5px;
  min-height: 20ex;
  height: auto;
  min-width: 40px;
}

.card:hover {
  background-color: #eeeeee;
}

.container {
  padding: 10px;
}

.current-card {
  border: 10px solid purple;
  margin: 5px;
  min-height: 20ex;
  height: auto;
  min-width: 40px;
}
