.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 800px;
  padding: 40px;
  background-color: white;
}

.form {
  width: 50%;
  margin: 40px auto;
}
.group {
  margin-bottom: 20px;
}
.input {
  display: block;
  width: 100%;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: sans-serif;
}
.input:focus {
  border-color: blue;
}
.label {
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
}
.error {
  border-color: red;
}
