body {
  padding: 50px 5%;
}

button {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 20px;
  border: none;
  border-radius: 2px;
  color: #fff;
  background-color: black;
  cursor: pointer;
  transition: all 0.2s;
  white-space: nowrap;
}
button:hover {
  background-color: #333;
}